/*Global Styles*/
body {
  font-family: lato;
}

body.lightbox-open {
  overflow: hidden;
}

header {
  z-index: 1;
  text-align: center;
  background-color: #2196F3;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header > h1 > a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 840px;
  margin: auto;
  text-align: center;
}

.inner-container {
  display: inline;
  text-align: left;
}

footer {
  text-align: center;
}

.nav-spacer {
  height: 80px;
}

.img-thumb {
  height: 66px;
  width: 100px;
  margin: 10px;
  float: left;
/*  display: inline-block;
*/  background-repeat: no-repeat;
  background-size: cover;
}

.img-thumb:hover {
  opacity: .6;
}

/*Lightbox Styles*/

#lightbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 120px;
  position: fixed;
  z-index: 2;
  color: #eee;
  background-color: rgba(0,0,0, 0.7);
  text-align: center;
  display: none;
}

#lightbox.visible {
  display: block;
}

button {
  padding:10px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color:white;
  text-decoration:none;
}

@media (max-width: 620px) {
  .photo-container {
    max-width: 230px;
  }
}

.photo-container {
  display: inline-block;
  background-color: rgb(245, 245, 245);
  color: black;
  padding: 14px;
  border-radius: 4px;
}

.lightbox-image {
  width: 100%;
  height: auto;
}

.arrow-container {
  display: inline-block;
}

.arrow-container > button {
  background: none;
  font-size: 60px;
  font-weight: 900;
  padding: 30px 2px;
  color: #eee;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s
}

.arrow-container > button:hover {
  transform: scale(1.2);
}

.arrow-container > button:disabled {
  color: rgb(190, 188, 188);
  font-size: 70px;
}

/*Utility Styles*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
